@mixin fx-col-wp {
    display: flex;
    flex-direction: column;
}

.button_container {
    @include fx-col-wp;
    width: 80%;
    margin: 20px 0;
    button {
        width: 200px;
        align-self: flex-end;
        padding: 8px;
    }
}
