@mixin fx-col-wp {
    display: flex;
    flex-direction: column;
}

.input_container {
    @include fx-col-wp;
    width: 80%;

    label {
        width: 100%;
        padding: 4px 0;
    }
    input {
        width: 100%;
        padding: 8px 0;
        margin: 4px 0;
        box-sizing: border-box;
    }
}
